{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="static/images/generals-quarters.png"
        class="img-fluid img-thumbnail mx-auto d-block room-image"
        alt="room image"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>
        Your home away form home, set on the majestic waters of the Atlantic
        Ocean, this will be a vacation to remember. Your home away form home,
        set on the majestic waters of the Atlantic Ocean, this will be a
        vacation to remember. Your home away form home, set on the majestic
        waters of the Atlantic Ocean, this will be a vacation to remember. Your
        home away form home, set on the majestic waters of the Atlantic Ocean,
        this will be a vacation to remember. Your home away form home, set on
        the majestic waters of the Atlantic Ocean, this will be a vacation to
        remember. Your home away form home, set on the majestic waters of the
        Atlantic Ocean, this will be a vacation to remember.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button
        onclick="toggleCheckAvailability('Hello','<em>Hello</em>','success','OK')"
        id="check-availability-button"
        class="btn btn-success"
      >
        Check Availability
      </button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const toggleCheckAvailability = (title, text, icon, confirmButtonText) => {
    Swal.fire({
      title: title,
      html: text,
      icon: icon,
      confirmButtonText: confirmButtonText,
    });
  };
</script>
{{end}}
