{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="static/images/generals-quarters.png"
        class="img-fluid img-thumbnail mx-auto d-block room-image"
        alt="room image"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>
        Your home away form home, set on the majestic waters of the Atlantic
        Ocean, this will be a vacation to remember. Your home away form home,
        set on the majestic waters of the Atlantic Ocean, this will be a
        vacation to remember. Your home away form home, set on the majestic
        waters of the Atlantic Ocean, this will be a vacation to remember. Your
        home away form home, set on the majestic waters of the Atlantic Ocean,
        this will be a vacation to remember. Your home away form home, set on
        the majestic waters of the Atlantic Ocean, this will be a vacation to
        remember. Your home away form home, set on the majestic waters of the
        Atlantic Ocean, this will be a vacation to remember.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button
        onclick="toggleCheckAvailability()"
        id="check-availability-button"
        class="btn btn-success"
      >
        Check Availability
      </button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
<script>
  const Prompt = () => {
    const toast = (options) => {
      const { msg = "", icon = "success", position = "top-end" } = options;

      const Toast = Swal.mixin({
        toast: true,
        title: msg,
        position: position,
        icon: icon,
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({});
    };

    let success = (options) => {
      const { msg = "", title = "", footer = "" } = options;

      Swal.fire({
        icon: "success",
        title: title,
        text: msg,
        footer: footer,
      });
    };

    let error = (options) => {
      const { msg = "", title = "", footer = "" } = options;

      Swal.fire({
        icon: "error",
        title: title,
        text: msg,
        footer: footer,
      });
    };

    async function custom(options) {
      const { msg = "", title = "" } = options;

      const { value: formValues } = await Swal.fire({
        title: title,
        html: msg,
        backdrop: false,
        focusConfirm: false,
        showCancelButton: true,
        willOpen: () => {
          const elem = document.getElementById("reservation-dates-modal");
          const rp = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
            showOnFocus: true,
          });
        },
        didOpen: () => {
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
        preConfirm: () => {
          return [
            document.getElementById("start").value,
            document.getElementById("end").value,
          ];
        },
      });

      if (formValues) {
        Swal.fire(JSON.stringify(formValues));
      }
    }

    return {
      toast: toast,
      success: success,
      error: error,
      custom: custom,
    };
  };
  const attention = Prompt();
  const toggleCheckAvailability = () => {
    let html = `
        <form style="overflow:visible" id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
    attention.custom({
      title: "Choose your dates",
      msg: html,
    });
  };
</script>
{{end}}
